<!DOCTYPE html>
<html>
  <head>
    <title>My First Web Page</title>
    <link rel="stylesheet" href="node_modules/normalize.css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <!--Lay-Out--HTML------Grid System-->
    <!--display:grid
    grid-template-rows
    grid template-columns
    -->
    <div class="gridcontainer">
      <div class="box5 box-grid-one">A</div>
      <div class="box5">B</div>
      <div class="box5">C</div>
      <div class="box5 box-grid-four">D</div>
    </div>

    <!--Lay-Out--HTML------Flex Box-->
    <div class="container">
      <div class="box4">A</div>
      <div class="box4">B</div>
      <div class="box4">C</div>
    </div>

    <!--Lay-Out--HTML------Floating Elements-->
    <article class="tweet clearfix">
      <div class="avatar"></div>
      <p class="p3">Lorem ipsum dolor sit amet.</p>
    </article>
    <!--Lay-Out--HTML------Positioning Elements-->
    <div class="boxes">
      <div class="box4 box-one"></div>
      <div class="box4 box-two"></div>
      <div class="box4 box-three"></div>
    </div>
    <!--Lay-Out--HTML-Measurement Units-->
    <!--Absolute       Relative-->
    <!--px             %-relative to the size of the container , vw , vh--relative to the view port , em , rem--relative to the font size -->
    <!--px             % , vw , vh , em , rem -->
    <div class="box2"></div>

    <div class="box3">
      <p class="p2">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic labore
        illo cupiditate impedit ab suscipit dolorem placeat iure, totam magnam?
      </p>
    </div>

    <!--Lay-Out--HTML-Overflowing-->
    <div class="box1">
      <p class="p1">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        vitae ipsa veritatis atque accusantium, ut amet possimus tenetur
        accusamus eaque quis corporis at ipsam blanditiis ex nihil harum vero
        optio debitis, alias modi ullam? Sint nemo molestiae cumque tenetur
        assumenda, tempora reiciendis, doloribus nulla ducimus vero, id omnis
        dolorum eveniet.
      </p>
    </div>

    <!--Lay-Out--HTML-Box Sizing Elements-->

    <span class="box"></span> <span class="box"></span>

    <!--Lay-Out--HTML-Box Model-->

    <p class="p0">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
      repellat.
    </p>
    <p class="p0">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
      repellat.
    </p>
  </body>
</html>
