<!DOCTYPE html>
<html>
  <head>
    <title>My First Web Page</title>
    <link rel="stylesheet" href="node_modules/normalize.css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <!--Lay-Out--HTML------Media Queries-->
    <!--Lay-Out--HTML------This is responsible for different layouts of various displays in different devices -->
    <!--To build responsive websites-->
    <!--First Build the desktop version and then adjust the code for tablets and mobile phones-->
    <div class="media-container">
      <div class="box6">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, soluta
          quae modi quia laborum dolorum exercitationem nostrum nam atque animi
          harum, tempore, nisi dolorem ratione eos? Magnam totam corrupti
          voluptas non neque quibusdam est ullam veritatis eum voluptatum
          repellendus laborum dolores sequi quo tempore, provident libero
          perferendis earum! Iusto, porro?
        </p>
      </div>
      <div class="box6">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa
          consectetur ducimus obcaecati rerum quaerat assumenda nulla,
          voluptatem quis minus facere nostrum nisi voluptate, officia animi
          atque delectus accusamus! In reiciendis ullam neque ad modi eius quis
          sapiente consequuntur ea vero voluptatibus molestiae maiores odio
          quisquam, suscipit corrupti ducimus? Ducimus, dicta.
        </p>
      </div>
    </div>
    <!--Lay-Out--HTML------Hiding Elements-->
    <p class="p4-first">First</p>
    <p class="p4-second">Second</p>

    <!--Lay-Out--HTML------Grid System-->
    <!--display:grid
    grid-template-rows
    grid template-columns
    -->
    <div class="gridcontainer">
      <div class="box5 box-grid-one">A</div>
      <div class="box5">B</div>
      <div class="box5">C</div>
      <div class="box5 box-grid-four">D</div>
    </div>

    <!--Lay-Out--HTML------Flex Box-->
    <div class="container">
      <div class="box4">A</div>
      <div class="box4">B</div>
      <div class="box4">C</div>
    </div>

    <!--Lay-Out--HTML------Floating Elements-->
    <article class="tweet clearfix">
      <div class="avatar"></div>
      <p class="p3">Lorem ipsum dolor sit amet.</p>
    </article>
    <!--Lay-Out--HTML------Positioning Elements-->
    <div class="boxes">
      <div class="box4 box-one"></div>
      <div class="box4 box-two"></div>
      <div class="box4 box-three"></div>
    </div>
    <!--Lay-Out--HTML-Measurement Units-->
    <!--Absolute       Relative-->
    <!--px             %-relative to the size of the container , vw , vh--relative to the view port , em , rem--relative to the font size -->
    <!--px             % , vw , vh , em , rem -->
    <div class="box2"></div>

    <div class="box3">
      <p class="p2">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic labore
        illo cupiditate impedit ab suscipit dolorem placeat iure, totam magnam?
      </p>
    </div>

    <!--Lay-Out--HTML-Overflowing-->
    <div class="box1">
      <p class="p1">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        vitae ipsa veritatis atque accusantium, ut amet possimus tenetur
        accusamus eaque quis corporis at ipsam blanditiis ex nihil harum vero
        optio debitis, alias modi ullam? Sint nemo molestiae cumque tenetur
        assumenda, tempora reiciendis, doloribus nulla ducimus vero, id omnis
        dolorum eveniet.
      </p>
    </div>

    <!--Lay-Out--HTML-Box Sizing Elements-->

    <span class="box"></span> <span class="box"></span>

    <!--Lay-Out--HTML-Box Model-->

    <p class="p0">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
      repellat.
    </p>
    <p class="p0">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
      repellat.
    </p>
  </body>
</html>
